@import "tailwindcss";


@layer utilities{
  .bg-dark-1{
    background-color: #22223B
  }
  .bg-dark-2{
    background-color: #4A4E69;
  }
  .bg-light-1{
    background-color: #F2E9E4;
  }
  .bg-light-2{
    background-color: #f6bd60;
  }

  .homebanner{
    background-image: url('/images/homebanner.jpeg');
  }
}



